@charset "utf-8";
/* CSS Document */


#navcont {
	margin-left: 11px;
}
	


#nav {
	/* background: url('images/nav/nav_bg.png') repeat-x; 
	background-color: #5D81B1;
	*/
		background-color: #32CD32;
	/* background: url('images/banner1.jpg') repeat-x; */
	/*Chrome*/
	/* background: -webkit-gradient(linear, left top, left bottom, from(#5D81B1), to(#5D81B1)) repeat-X; */

	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#32CD32), to(#32CD32), color-stop(.6,#228B22));

	/*Mozila*/
/*	background: -moz-linear-gradient(top, #666, #fff) repeat-X; */

	/*IE 8*/
/*	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#666, endColorstr=#FFFFFF; */
	
	width: 99%;
	height: 38px;
	margin-top: 5px;
	list-style: none;
	float: left;
	font-weight: bold;
	
	}

#nav li {
	float: left;
	}
	
#nav a:link, #nav a:visited {
	/* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333)); 
	background: url("images/banner1.jpg"); */
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#32CD32), to(#32CD32), color-stop(.6,#228B22));
	
	background-color: #32CD32;
	float: left;
	line-height: 42px;
	height: 38px;
	display: block;
	padding: 0 22px 0 22px;
	color: #FFF;
	text-decoration: none;
/*	background: url('images/nav/nav_bg.gif') repeat-x; */
	}

#nav a:hover, #nav a:active {

	color: #CFCFCF;
	/* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5D81B1), to(#5D81B1), color-stop(.6,#333)); */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#228B22), to(#228B22), color-stop(.6,#32CD32));
	background-color: #32CD32;
	color: #E8E8E8;
	/* background: #000 url('images/nav/nav_hover.png') repeat-x; */
	}

