@charset "utf-8";
@import url(nav.css);
/* CSS Document */



/* Blanket Styles*/
body {
	/* background-color: #383838; */
	/* background-color: #5D81B1; */
	/* Possivel uso para a UDTP #66CD00 */
	background-color: #228B22;	
	margin: 0; padding: 0;
	font-size: small;
	color: #383838;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
* html body {
	font-size: x-small; /* for IE5/Win */
	f\ont-size: small; /* for other IE versions */
	}
 
img {
	border-style: none;
}

* {
	margin: 0; padding: 0;
	}
 
a:link, a:visited {
	color: #383838;
	text-decoration: underline;
	}
	
a:hover, a:active {
	color: #585858;
	}
 
 
 
/* Conatiner */ 
#container {
	background-color: #fff;
	width: 98%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	
	
	
	}

/* Header */
#container h1 {
	background: #FFFFFF url(images/header.png) no-repeat;
	width: 220px;
	height: 125px;
	margin: 10px 0 0 11px;
	text-indent: -9999em;
	float: left;
	
	}

#buttons {
	margin: 10px 18px 0;
	float: right;
	}
	
#buttons img {
	padding-left: 0px;
	padding-right: 10px;
	}


/* Info */
#info {
	background: url(images/info_bg.gif) no-repeat;
	width: 823px;
	height: 161px;
	margin: 0 auto;
	clear: both;
	}
	
#info h2 {
	font: 100 140% Arial, Helvetica, sans-serif;
	letter-spacing: 1.5px;
	color: #464646;
	padding: 22px 0 0 25px;
	}
	
#info p {
	width: 220px;
	color: #898888;
	padding: 5px 0 0 25px;
	}
	
#whatisthis {
	float: left;
	width: 300px;
	}
	
#templatetypes {
	float:left;
	width: 200px;
	padding: 21px 0 0 66px;
	}
	
#supportlinks {
	float: right;
	width: 155px;
	padding: 21px 50px 0;
	}
	
#info ul {
	list-style-image: url(images/bullet.gif);
}

#info li {
	line-height: 22px;
	}
	
#info a:link, #info a:visited {
	color: #585858;
	text-decoration: none;
	}
	
#info a:hover, #info a:active {
	color: #585858;
	background-color: #FFFFFF;
	}
	
	
	
/* Main Content Area */
#content_main {
	width: 78%;
	padding: 0 0 0 15px;
	margin: 20px 0;
	float: left;
	text-align: justify;
	}
	
#content_main p {
	line-height: 23px;
	display: block;
	text-align: left;
	padding-bottom: 10px;
	}	
	
#nav_main {
	float: right;
	width: 200px;
	background: url(images/r_bg.gif) repeat-y;
	height: 450px;
	margin: 32px 0;
	}
	
#nav_main ul {
	list-style: none;
	padding: 0 0px 0 15px;
   }
	
#nav_main ul li {
	line-height: 23px;
	}
	
#nav_main a:link, #nav_main a:visited {
	color: #383838;
	text-decoration: none;
	}
	
#nav_main  a:hover, #info a:active {
	color: #585858;
	text-decoration:underline;
	}
	
#card {
	float: left;
	}
	
h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 180%;
	font-weight: 100;
	}
	
h4 {
	color: #bbbbbb;
	font-family: "Times New Roman", Times, serif;
	font-weight: 100;
	padding-bottom: 8px;
	}
	
hr { 
	border: 0;
	color: #d7d5cb;
	background: #d7d5cb;
	height: 1px;
	margin: 15px 0 20px 0;
}	
	
/* Footer */
#footer {
	clear: both;
	width: 98%;
	color: #fff;
	font-size: 85%;
	margin: 20px auto;
	}	
	
#footer a:link, #footer a:hover, #footer a:active, #footer a:visited {
	color: #fff;
	text-decoration: none;
	}
	
#copyright {
	float: left;
	}
	
#nav_footer {
	float: right;
	list-style: none;
	}
	
#nav_footer li {
	float: left;
	}

label{
    display: inline-block;
    /*width: 5em;*/
  }
  
.sub_menu_principal{
	/* float:left; */
	border-bottom:solid 1px lightgray;
	width:100%;	
	}	
.sub_menu_principal img{
	border:none;
	margin:5px;
	float:right;
	}	


.titulo_menu_direita{
	width:82%;
	margin:0px 0px 10px 0px;
	padding:10px;
	background-color:#E8E8E8;
	color:gray;
	font-family: "Times New Roman", Times, serif;
	font-weight: 100;
	font-size:15px;
	text-align:center;
	border:solid 1px lightgray;	
	}

